<html lang="en">
  <head>
    <title>Feature Request Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bootstrap4/dist/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <!-- Required meta tags (Bootstrap Docs) -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Features Rock</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Clients</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Users</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <h1 class="mt-5">Add Request</h1>
      <form data-bind="submit: addFeatureRequest">

        <div class="form-group">
      	  <label>Title</label>
          <input
            data-bind="value: newFeatureRequestTitle"
            placeholder="What's this feature called?"
            class="form-control"
          />
        </div>

        <div class="form-group">
        	<label>Description</label>
          <textarea
            data-bind="value: newFeatureRequestDesc"
            placeholder="What are the details?"
            class="form-control"
          ></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

      </form>

      <div data-bind="foreach: featureRequests, visible: featureRequests().length > 0">
        <div class="row">
          <div class="col-sm-12">
            <div class="card fr-card" style="width: 18rem;">
              <div class="card-header">
                <h5 class="card-title" data-bind="text: title"></h5>
              </div>
              <div class="card-body">
                <p class="card-text" data-bind="text: description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Delete</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">Feature Request App - Built by Paul Serra</span>
      </div>
    </footer>

    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/knockout/dist/knockout.js') }}"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
  </body>
</html>
