{% extends "layout.html" %}
{% block title %}Welcome{% endblock %}

{% block content %}
<h1 class="mt-5">Add Request</h1>
<form data-bind="submit: addFeatureRequest">

  <div class="row">
    <div class="form-group col-sm-6">
      <label>Title</label>
      <input
        data-bind="value: newFeatureRequestTitle"
        placeholder="What's this feature called?"
        class="form-control"
      />
    </div>
    <div class="form-group col-sm-4">
      <label>Client</label>
      <select
        class="form-control"
        data-bind="
          options: newFeatureRequestClient.options,
          optionsText: function(item) {
            return item.name;
          },
          optionsValue: function(item) {
            return item.id;
          },
          value: newFeatureRequestClient.selected,
        "
      ></select>
    </div>
    <div class="form-group col-sm-2">
      <label>Priority</label>
      <input
        type="number"
        min="1"
        data-bind="value: newFeatureRequestPriority"
        placeholder="1..n"
        class="form-control"
      />
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-12">
      <label>Details</label>
      <textarea
        data-bind="value: newFeatureRequestDesc"
        placeholder="What are the details?"
        class="form-control"
      ></textarea>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>

<table class="table table-hover">
  <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Priority</th>
    <th>Actions</th>
  </thead>
  <tbody data-bind="foreach: featureRequests, visible: featureRequests().length > 0">
    <tr data-bind="id: id">
      <td scope="row" data-bind="text: id"></td>
      <td data-bind="text: name"></td>
      <td data-bind="text: priority"></td>
      <td>Delete</td>
    </tr>
  </tbody>
</table>
{% endblock %}

{% block footer_scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='requests.js') }}"></script>
{% endblock %}
