<html lang="en">
  <head>
    {% block head %}
    <title>{% block title %}{% endblock %} - Feature Handler</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bootswatch/dist/journal/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/open-iconic/font/css/open-iconic-bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bootstrap-table/dist/extensions/reorder-rows/bootstrap-table-reorder-rows.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <!-- Required meta tags (Bootstrap Docs) -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}
  </head>
  <body>
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
          <a class="navbar-brand" href="#">Feature Handler</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto justify-content-right">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/clients">Clients</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Users</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      {% block content %}{% endblock %}
    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">Feature Handler App - Built by Paul Serra</span>
      </div>
    </footer>

    {% block footer_scripts %}
      <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
      <!-- <script src="{{ url_for('static', filename='bower_components/popper.js/dist/popper.min.js') }}"></script> -->
      <script src="{{ url_for('static', filename='bower_components/bootstrap4/dist/js/bootstrap.bundle.min.js') }}"></script>
      <script src="{{ url_for('static', filename='bower_components/TableDnD/dist/jquery.tablednd.js') }}"></script>
      <script src="{{ url_for('static', filename='bower_components/table-to-json/lib/jquery.tabletojson.min.js') }}"></script>
      <!-- <script src="{{ url_for('static', filename='bower_components/bootstrap-table/dist/extensions/reorder-rows/bootstrap-table-reorder-rows.js') }}"></script> -->
      <script src="{{ url_for('static', filename='bower_components/knockout/dist/knockout.js') }}"></script>
      <script src="{{ url_for('static', filename='models.js') }}"></script>
    {% endblock %}

  </body>
</html>
